@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="col-md-9">
        <div class="form-group">
            <h2>Cherchez un restaurant :</h2>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <h2>Une idée précise?</h2>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
